<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Green Vision!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">
      Welcome to Green Vision !
    </p>
    <p class="subtitle">
      You can test our classifier here !
      <br>
      Images over 2.5 MB are currently not supported sorry!
    </p>
  </div>
</section>
    {% block content %}
    {% endblock content %}


</body>
</html>